<nav class="bg-white">
    <div class="container mx-auto flex justify-between items-center h-full">
        <h2 class="text-center text-3xl font-extrabold text-indigo-700">LameBook</h2>
        <% if user_signed_in? %>
        <div class="flex flex-row items-center">
            <% if current_user.avatar.attached? %>
            <img class="w-10 h-10 p-1 rounded-full ring-2 ring-gray-300 dark:ring-gray-500 mr-5" src="<%=(url_for(current_user.avatar))%>" alt="<%= current_user.firstName %> <%= current_user.lastName %>">
            <% else %>
            <img class="w-10 h-10 p-1 rounded-full ring-2 ring-gray-300 dark:ring-gray-500 mr-5" src="https://www.w3schools.com/howto/img_avatar.png" alt="<%= current_user.firstName %> <%= current_user.lastName %>">
            <% end %>
            <div>
            <p class="text-sm font-medium text-gray-700"><%= current_user.firstName %> <%= current_user.lastName %></p>
                <%= link_to "Logout", destroy_user_session_path, :method => :delete, class: "text-blue-500 hover:text-blue-800" %>            
            </div>
        </div>
        <% else %>
        <div class="flex items-center">
            <button class="inline-flex mr-5 justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                <%= link_to "Sign In", new_user_session_path %>
            </button>
            <button class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                <%= link_to "Create Account", new_user_registration_path %>
            </button>
        </div>
        <% end %>
    </div>
</nav>
<% if user_signed_in? %>
<section id="new-post">
    <div class="fade flex items-center justify-between bg-white py-2 px-4">
        <p class="bg-main text-grey text-sm font-medium text-gray-700">Bem vindo ao LameBook! Para começar a postar <%= current_user.firstName %>, clique ao lado. </p>
        <button type="button" data-modal-toggle="defaultModal"class="inline-flex ml-15 justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">+ New Post</button>
    </div>
</section>
<% end %>
<section id="posts">
    <% @posts.each do |post| %>
    <div class="fade mb-2">
        <div class="flex flex-col bg-white py-2 px-4 ">
            <div class="flex flex-row items-center mb-5">
                <% if post.user.avatar.attached? %>
                <img class="w-10 h-10 p-1 rounded-full ring-2 ring-gray-300 dark:ring-gray-500 mr-5" src="<%=(url_for(post.user.avatar))%>" alt="<%= post.user.firstName %> <%= post.user.lastName %>">
                <% else %>
                <img class="w-10 h-10 p-1 rounded-full ring-2 ring-gray-300 dark:ring-gray-500 mr-5" src="https://www.w3schools.com/howto/img_avatar.png" alt="<%= post.user.firstName %> <%= post.user.lastName %>">
                <% end %>                
                <div class="flex flex-col">
                <p class="text-sm font-medium text-gray-700"> <%= post.user.firstName %> <%= post.user.lastName %></p>
                <span class="text-sm font-medium text-gray-700"> <%= post.created_at.strftime("Posted on %m/%d/%Y at %T") %></span>
            </div>
            </div>
            <p class="text-base mb-5 text-sm font-medium text-gray-500"><%= post.text %></p>
            <% if post.image.attached? %>
            <img class="w-full mb-5" src="<%=(url_for(post.image))%>" alt="Bordered avatar">
            <% end %>
            <div class="flex items-center mb-5">, 
                <%= render 'like_svg' %>  
                <span class="ml-2 text-sm font-medium text-gray-700"><span data-id="<%= post.id %>" class="total"><%= post.likes %></span> users liked this post! </span>
            </div>
            <% if current_user %>
                <% if @postsLikes.empty? %>
                <button type="button" data-id="<%= post.id %>" class="hidden fade unlike inline-flex items-center justify-center w-full text-white bg-gray-300 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
                    <%= render 'unlike_svg' %>  
                    <span class="ml-2">Unlike</span>
                </button>
                <button type="button" data-id="<%= post.id %>" class="fade like inline-flex items-center justify-center w-full py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" > 
                    <%= render 'like_svg'  %>  
                    <span class="ml-2">Like</span>
                </button>
                <% else %>
                <% @postsLikes.each.with_index do |postsLike, index| %>
                    <% if postsLike.post_id == post.id && current_user.id == postsLike.user_id -%>
                        <button type="button" data-id="<%= post.id %>" class="fade unlike inline-flex items-center justify-center w-full text-white bg-gray-300 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
                            <%= render 'unlike_svg' %>  
                            <span class="ml-2">Unlike</span>
                        </button>
                        <button type="button" data-id="<%= post.id %>" class="hidden fade like inline-flex items-center justify-center w-full py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" > 
                            <%= render 'like_svg' %>  
                            <span class="ml-2">Like</span>
                        </button>
                         <% break %>
                    <% end %>
                    <% if @postsLikes.length == index + 1 %>
                        <button type="button" data-id="<%= post.id %>" class="hidden fade unlike inline-flex items-center justify-center w-full text-white bg-gray-300 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
                            <%= render 'unlike_svg' %>  
                            <span class="ml-2">Unlike</span>
                        </button>
                        <button 
                            type="button" 
                            data-id="<%= post.id %>" 
                            class=" fade like inline-flex items-center justify-center w-full py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                            <%= render 'like_svg' %>  
                            <span class="ml-2">Like</span>
                        </button>
                    <% end %>
                <% end %>                
                <% end %>
            <% end %>
        </div>
    </div>
    <% end %>
</section>

<% if notice %>
    <div id="alert-4" class="fixed bottom-5 right-8 w-30 p-5 flex p-4 mb-4 bg-yellow-100 rounded-lg dark:bg-yellow-200" role="alert">
        <svg class="flex-shrink-0 w-5 h-5 text-yellow-700 dark:text-yellow-800" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>
        <div class="ml-3 text-sm font-medium text-yellow-700 dark:text-yellow-800">
            <%= notice %>
        </div>
        <button type="button" class="ml-auto -mx-1.5 -my-1.5 bg-yellow-100 text-yellow-500 rounded-lg focus:ring-2 focus:ring-yellow-400 p-1.5 hover:bg-yellow-200 inline-flex h-8 w-8 dark:bg-yellow-200 dark:text-yellow-600 dark:hover:bg-yellow-300" data-dismiss-target="#alert-4" aria-label="Close">
            <span class="sr-only">Close</span>
            <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
        </button>
    </div>
<% end %>

<% if user_signed_in? %>
    <%= render 'post_modal', post: @post %>
<% end %>

